* {
    padding: 0px;
    margin: 0px;
    list-style: none;
    text-decoration: none;
}

.container {
    width: 1140px;
    margin: 0% auto;
}

.header-list {
    display: flex;
    justify-content: right;
    align-items: center;
}

.header-item {
    padding: 10px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-link {
    padding: 10px;
}

header {
    background-image: url(./img/pexels-cottonbro-4503751\ 1.png);
    background-repeat: no-repeat;
    background-size: 500px;
    height: 500px;
    padding: 10px;
}

.up {
    color: #156963;
    font-weight: 700;
    font-size: 20px;
}

.in {
    color: white;
    font-weight: 700;
    font-size: 20px;
    background-color: #156963;
    width: 100px;
    display: block;
    text-align: center;
}

.left-menu {
    width: 450px;
    position: relative;
    left: 50%;
    margin-top: 30px;
    padding: 10px;
}

.left-title {
    font-weight: 500;
    font-size: 68px;
}

.left-text {
    padding-top: 20px;
    font-weight: 400;
    font-size: 18px;
}

.send {
    display: flex;
}

.previous {
    position: relative;
    left: 50%;
    width: 120px;
    padding: 20px;
    text-align: left;
}

.Next {
    position: relative;
    left: 60%;
    background-color: #156963;
    width: 120px;
    padding: 20px;
    text-align: left;
}

.Next-link,
.previous-link {
    color: #333333;
    display: flex;
    /* justify-content: center; */
    padding: 5px;
}

.previous-img {
    width: 30px;
    height: 20px;
    padding-right: 10px;
}

.Next-img {
    width: 30px;
    height: 20px;
    padding-left: 10px;
}

.Next-text,
.previous-text {
    font-size: 20px;
}